<h2>Por Regíon</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button
        *ngFor="let region of regions"
        [ngClass]="{ 'btn-primary': selectRegion === region }"
        (click)="searchByRegion(region)"
        class="btn rounded-pill mx-1"
      >
        {{ region }}
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />
    <shared-loading-spinner *ngIf="isLoading" [page]="'regíon'" />
    <countries-table [countries]="countries" />
  </div>
</div>
